@import url("gully.css");

themes {
    display: flex;
    background-color: #101010;
    font-family: "Gully";
}

theme {
    display: inline-block;
    text-align: center;
    width: fit-content;
    margin: 15px
}

theme title,
theme author,
theme uri {
    color: white;
    display: block;
}

theme uri,
theme author {
    background: linear-gradient( 90deg, rgb(255, 150, 150) 0%, rgb(255, 194, 102) 10%, rgb(244, 255, 107) 20%, rgb(176, 253, 173) 30%, rgb(155, 255, 254) 40%, rgb(192, 246, 255) 50%, rgb(96, 172, 255) 60%, rgb(138, 79, 255) 70%, rgb(217, 110, 255) 80%, rgb(255, 126, 237) 90%, rgb(255, 145, 145) 100% );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline #551a8b 2px;
    cursor: help;
}

theme title::before {
    content: "Theme:";
    margin-right: 5px;
    display: inline-block;
    color: white;
}
theme author::before {
    content: "Author:";
    background: #fff;
    background-clip: text;
    display: inline-block;
    margin-right: 5px;
}

theme author::after {
    display: inline-block;
    background: #fff;
    background-clip: text;
    margin-left: 5px;
    content: "<" attr(uri) ">";
}

theme uri::before {
    display: inline-block;
    background: #fff;
    background-clip: text;
    margin-right: 5px;
    content: "Theme CSS (relative to /themes/):";
}
